.projects-section {
   background: linear-gradient(0deg, #000 0%, var(--primary-color) 100%);
}

.project {
  background-color: var(--tertiary-color);
  border-bottom: 2px solid var(--secondary-color);
  transition: all ease .2s;
}

.project:hover, .project:active {
  transform: scale(1.02);
}

.project-links a{
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: .3rem;
}
.project-links a:hover {
  font-weight: 600;
}