nav {
    width: calc(100% - 17px);
    position: fixed;
    z-index: 999;
    background-color: #0000006f;
    backdrop-filter: blur(5px);
}
.logo span {
    color: var(--secondary-color);
}

.dropdown {
    background-color: #00000097;
    backdrop-filter: blur(5px);
}

.navigations {
    transition: all ease-in-out .2s;
}
.navigations:hover {
    scale: 1.1;
    color: var(--secondary-color);
    font-weight: 700;
}