.hero {
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  box-shadow: inset 0px 0px 1000px 150px rgba(0, 0, 0, 1);
}

.name-animate {
  position: relative;
}

.name-animate::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.name-animate::after {
  border-bottom: 5px solid var(--secondary-color);
  animation: borderAnimation 2s linear infinite;
}

@keyframes borderAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 25%;
    opacity: 0.5;
  }
  50% {
    width: 50%;
    opacity: 1;
  }
  75% {
    width: 75%;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.hero-img {
  height: 30rem;
  transition: all ease 0.3s;
}
.hero-img::after {
  content: "A very warm welcome from me.";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: .5rem;
  background-color: var(--tertiary-color);
  transition: all ease .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img:hover.hero-img::after {
  left: 0;
  top: 0;
  z-index: 1;
  opacity: .9;
}