@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1B262C;
  --text-color: #ffffffe5;
  --secondary-color: #0F4C75;
  --tertiary-color: #3282B8;
  --quaternary-color: #BBE1FA;
}

*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
}

a,button {
  all: unset;
  cursor: pointer;
}
li {
  list-style: none;
}