@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0A0A0A;
  --text-color: #ffffffe5;
  --secondary-color: #D3E97A;
  --tertiary-color: #1A1A1A;
  --quaternary-color: #c3f00e;
}

*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
}
body, #root {
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
a,button, input, textarea{
  all: unset;
}
a,button {
  cursor: pointer;
}
textarea {
  resize: none;
}
li {
  list-style: none;
}
section {
  @apply min-h-screen py-16 px-8 sm:p-20 lg:px-44;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  @apply text-6xl text-center sm:text-start;
}
p {
  opacity: .75;
}
hr {
  opacity: .25;
}